{% extends '::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>
input {
	width:200px;
}
.select2-container {
	width:200px;
}
</style>
{% endblock %}
{% block body_center %}			
	<h3>Formulaire d'ajout</h3>

	<div class="well">
	  <form method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" class="btn btn-primary" />
	  </form>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	$(document).ready(function() {
	$('.region').select2({
		data: [{% for p in autocomplete.regions %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.edition').select2({
		data: [{% for p in autocomplete.editions %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.editeur').select2({
		data: [{% for p in autocomplete.editeurs %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.support').select2({
		data: [{% for p in autocomplete.supports %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.format').select2({
		data: [{% for p in autocomplete.formats %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.langues').select2({
		data: [{% for p in autocomplete.langues %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		multiple: true,
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.plateformes').select2({
		data: [{% for p in autocomplete.plateformes %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		multiple: true,
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.commandes').select2({
		data: [{% for p in autocomplete.commandes %}{id:"{{ p.name }}",text:"{{ p.name }}"},{% endfor %}],
		multiple: true,
		createSearchChoice: function(term, data) 
		{
			if ($(data).filter(function() 
			{
				return this.text.localeCompare(term)===0; 
			} ).length===0) 
			{
				return {id:term, text:term};
			} 
		}
	});
	$('.accessoires').select2({});
	$('.datepicker').datepicker({
		yearRange: "1970:'.date('Y').'",
		changeMonth: true,
		changeYear: true,
		dateFormat: "yy-mm-dd",
		maxDate: "0"
    });
	});
	</script>
{% endblock %}