{% extends '::layout.html.twig' %}
{% block body_center %}			
		<div>
			<div id="infos">
				<div id="console">
					{% if console.valide==1 %}
						<img src="{{ img_root }}img/info_valide_small.png" title="Informations vérifiés par Collectible Games">
					{% endif %}
					<span class="GrosTitre">{{ console.name}}</span><br>
					{% if console.plateforme.imageUrl!="img/inconnu.png" %}
							Plateforme : <img height=35 src="{{ img_root }}{{console.plateforme.imageUrl}}" title="{{console.plateforme.name}}" /><br>
					{% else %}
							Plateforme : {{console.plateforme.name}}<br>
					{% endif %}
					{% if console.editeur.imageUrl!="img/inconnu.png" %}
							Editeur : <img height=35 src="{{ img_root }}{{console.editeur.imageUrl}}" title="{{console.editeur.name}}" /><br>
					{% else %}
							Editeur : {{console.editeur.name}}<br>
					{% endif %}
					{% if console.remarqueConsole!="" %}
						<br>Remarque : {{ console.remarqueConsole }}
					{% endif %}
					{% if console.jeux|length > 0 %}
						<br>Jeux inclus :
						{% for jeu in console.jeux %}
							<a href="{{path('show_jeu', { 'id': jeu.id })}}">{{jeu.name.name}}</a>
						{% endfor %}
					{% endif %}
					{% if console.accessoires|length > 0 %}
						<br>Accessoire inclus :
						{% for accessoire in console.accessoires %}
							<a href="{{path('show_accessoire', { 'id': accessoire.id })}}">{{accessoire.name}}</a>
						{% endfor %}
					{% endif %}
				</div>
			</div><br><br>
			{% for version in console.versions %}
				<div id="infosV">
					<div id="version">
						<br>
						<div class="sousTitre">
							<img height=25 src="{{ img_root }}{{ version.region.imageUrl }}" title="{{ version.region.name }}" /> {{ console.name }}
						</div><br>
						<div class="quotecontent">
							Référence : {{version.referenceConsole}}<br>
							Code Barre : {{version.codeBarreConsole}}<br>
							Prix : {{version.prix}}<br>
							{% if version.dateSortieConsole is not null %}
								Date de sortie : {{version.dateSortieConsole|date('d/m/Y')}}<br>
							{% endif %}
							<!--if(sizeof($version['accessoires'])>0)
							{
								echo'<br>Accessoire(s) inclus : ';
								foreach($version['accessoires'] as $accessoire)
								{
									echo'<a href="bddjv.php?action=viewAccessoire&id='.$accessoire['id_accessoire'].'" />'.$accessoire['nom_accessoire'].'</a> ';
								}
							}-->
							{% if version.remarqueVersionConsole!="" %}
								<br>Remarque : {{version.remarqueVersionConsole}}
							{% endif %}	
							{% if modo %}
								{% if version.valide ==0 %}
									<br><a href=''>Valider la version</a>
								{% endif %}
								<br><a href=''>Supprimer la version</a>
							{% endif %}	
						</div>
					</div>
					<div id="photo" class="quotecontent">
						<a href="{{ img_root }}{{version.photoUrl}}" class="zoombox zgallery1"><img height=200 src="{{ img_root }}{{version.photoUrl}}" /></a>
					</div>
				</div>
				<div id="clear"></div>
			{% endfor %}
			<br>
		</div>
		<div class="clear"></div>
		<br><div class="lienAdmin"><a href="{{ path('add_version_console', { 'id': console.id }) }}" >Ajouter une version au jeu</a></div>
		{% if modo %}
			<div class='lienAdmin'><a href='bddjv.php?action=adm&supprJeu='>Supprimer le jeu</a></div>
			{% if modo %}
				<div class='lienAdmin'><a href='bddjv.php?action=adm&validerJeu='>Valider le jeu</a></div>
			{% endif %}	
		{% endif %}	
		<div class='lienAdmin'><a href="{{ path('modifier_console', { 'id': console.id }) }}">Modifier le jeu</a></div>
{% endblock %}