{% extends '::layout.html.twig' %}
{% block head_content %}
{{ parent() }}
<div id="fb-root"></div>
	<meta property="fb:app_id" content="1422333361348579" />
	<meta property="og:image" content="http://collectible-games.com/{{ console.versions.0.photoUrl }}" />
	<meta property="og:site_name" content="Collectible Games" />
	<meta property="og:title" content="{{ console.name }}" />
	<meta property="og:description" content="Découvrez la fiche du pack {{ console.name }} de la {{ console.plateforme.name }} ainsi que celles de beaucoup d'autres consoles, jeux et accessoires sur Collectible Games, la base de donné des jeux vidéos" />
{% endblock %}
{% block body_center %}			
		<div>
			<div id="infos">
				<div id="console">
					{% if console.valide==1 %}
						<img src="{{ img_root }}img/info_valide_small.png" title="Informations vérifiés par Collectible Games">
					{% endif %}
					<span class="GrosTitre">{{ console.name}}</span><br>
					<span><a href="https://www.facebook.com/sharer/sharer.php?u=http://collectible-games.com{{ path('show_console', {'id':console.id})}}" target="_blank">
					 Partager sur Facebook
					</a></span><br>
					{% if console.plateforme.imageUrl!="img/inconnu.png" %}
							Plateforme : <img height=35 src="{{ img_root }}{{console.plateforme.imageUrl}}" title="{{console.plateforme.name}}" /><br>
					{% else %}
							Plateforme : {{console.plateforme.name}}<br>
					{% endif %}
					{% if console.editeur.imageUrl!="img/inconnu.png" %}
							Editeur : <img height=35 src="{{ img_root }}{{console.editeur.imageUrl}}" title="{{console.editeur.name}}" /><br>
					{% else %}
							Editeur : {{console.editeur.name}}<br>
					{% endif %}
					{% if console.remarqueConsole!="" %}
						<br>Remarque : {{ console.remarqueConsole }}
					{% endif %}
				</div>
			</div><br><br>
			{% for version in console.versions %}
				<div id="infosV">
					<div id="version">
						<br>
						<div class="sousTitre">
							<img height=25 src="{{ img_root }}{{ version.region.imageUrl }}" title="{{ version.region.name }}" /> {{ console.name }}
						</div><br>
						<div class="quotecontent">
							Référence : {{version.referenceConsole}}<br>
							Code Barre : {{version.codeBarreConsole}}<br>
							Prix : {{version.prix}}<br>
							{% if version.dateSortieConsole is not null %}
								Date de sortie : {{version.dateSortieConsole|date('d/m/Y')}}<br>
							{% endif %}
							{% if version.jeux|length > 0 %}
								<br>Jeux inclus :
								{% for jeu in version.jeux %}
									<a href="{{path('show_jeu', { 'id': jeu.id })}}">{{jeu.name}}</a>
								{% endfor %}
							{% endif %}
							{% if version.accessoires|length > 0 %}
								<br>Accessoire inclus :
								{% for accessoire in version.accessoires %}
									<a href="{{path('show_accessoire', { 'id': accessoire.id })}}">{{accessoire.name}}</a>
								{% endfor %}
							{% endif %}
							{% if version.remarqueVersionConsole!="" %}
								<br>Remarque : {{version.remarqueVersionConsole}}
							{% endif %}	
						</div>
					</div>
					<div id="photo" class="quotecontent">
						<a href="{{ img_root }}{{version.photoUrl}}" class="zoombox zgallery1"><img height=200 src="{{ img_root }}{{version.photoUrl}}" /></a>
					</div>
				</div>
				<div id="clear"></div>
			{% endfor %}
			<br>
		</div>
		<div class="clear"></div>
		<br><div class="lienAdmin"><a href="{{ path('add_version_console', { 'id': console.id }) }}" >Ajouter une version à la console</a></div>
		<div class='lienAdmin'><a href="{{ path('modifier_console', { 'id': console.id }) }}">Modifier la console</a></div>
{% endblock %}