<div id="ListeJeux" style="display:none;">
	<br><div class=titre>Liste des jeux</div>
	<form action="{{ path('collection_add_games')}}" method=POST>
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="tableJeux" width="100%">
			<thead>
				<tr>
					<th>Jeu</th>
					{% if app.user %}<th>Ajouter</th>{% endif %}
				</tr>
			</thead>
			<tbody>
				{% set odd = false %}
				{% for jeu in jeux %}
				{% set odd = not odd %}
					<tr class="{% if jeu.id in collection.jeux %}gradeC{% else %}gradeA{% endif %} {% if odd %}odd{% else %}even{% endif %}">
						<td> 
							<a href="{{ path('show_jeu', { 'id': jeu.id }) }}">{{ jeu.name }}</a> 
						</td>
					{% if app.user %}<td class="center"><input type="checkbox" id="jeux[{{ jeu.id }}]"  name="jeux[{{ jeu.id }}]" value="{{ jeu.id }}" /></td>{% endif %}
					</tr>
				{% endfor %}
				{% if app.user %}
					<tr style="text-align: right"><td colspan=2><input type="submit" value="Ajouter les jeux à votre collection" name="validerAjoutPossessionJeu"></td></tr>
				{% endif %}
			</tbody>
		</table>
	</form>
	<br><br><a href="{{ path('create_jeu')}}">Le jeu que vous cherchez n'est pas dans la base de donnée ? Ajoutez le.</a>
</div>
		