{% extends '::layout.html.twig' %}
{% block body_center %}
	<div class="forum_head">{{forum.name}}</div>
	{% if app.user is defined and app.user != null and app.user != 'anon.' %}
	<div><a href="{{path('new_topic', {'id':forum.id})}}"><div class="new_subject">Nouveau sujet</div></a></div>
	{% endif %}
	<div class="categorie_background">
		<div class="categorie_header right"> Dernière réponse </div><div class="categorie_header"> Sujets </div>
		<div class="categorie_content">
		{% for topic in forum.topics %}
			<div class="forum_infos"> 
				<div class="forum_icon"></div>
				<div class="forum_text">
					<div class="forum_description right">{{topic.repliedAt|localizeddate('full', 'none')}} à {{topic.repliedAt|localizeddate('none', 'short')}}</div>
					<div class="forum_name"><a href="{{path('show_topic', {'id':topic.id})}}">{{topic.name}}</a></div>
					<div class="forum_description">par {{topic.createdBy}} le {{topic.createdAt|localizeddate('full', 'none')}} à {{topic.createdAt|localizeddate('none', 'short')}}</div>
				</div>
			</div>
		{% else %}
			<div class="forum_infos_small"> 
				<div class="forum_text">
					<div class="forum_description">Ce forum ne contient aucun sujet. Soyez le premier à en créer un !</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
<style>
.categorie_content {
background-color: #ddd;
}
.forum_infos {
border-bottom: solid black 1px;
padding: 0 40px;
min-height: 60px;
position: relative;
}
.forum_icon {
height: 100%;
position: absolute;
left: 0;
width:40px;
background: url('http://collectible-games.com/forum/styles/DarkyGray/imageset/forum_read.png');
background-repeat: no-repeat;
background-position: 10px 50%;
}
.categorie_background {
border-radius: 8px;
background-color: black;
margin: 10px;
padding: 5px;
}
.forum_head {
    font-size: 22px;
    padding: 5px 15px;
    color: darkred;
}
.forum_name {
    font-size: 19px;
    padding: 5px;
    color: darkred;
}
.forum_description {
    color: black;
}
.forum_text {
padding: 5px;
}
.categorie_header {
    color: white;
    font-size: 15px;
    padding: 0 0 5px 15px;
}
.right{
	float:right;
}
.new_subject {
color: white;
background-color: black;
width: 150px;
text-align: center;
font-size: 20px;
padding: 10px 0;
border-radius: 5px;
left: 15px;
top: 5px;
position: relative;
}
</style>
{% endblock %}